<div class="flex justify-between items-center">
    <h2>Generos</h2>
    <%= link_to "Cadastrar novo Gênero", new_genre_path, class: "mt-4 no-underline flex justify-center items-center bg-slate-700 h-12 px-4 rounded-lg hover:bg-slate-500 hover:cursor-pointer text-white transition decoration-0" %>
</div>

<ul>
    <% @genres.each do |genre| %>
        <li><%= link_to genre.name, genre_path(genre.id) %></li>
    <% end %>
</ul>