<h2><%= @genre.name %></h2>

<h3>Filmes cadastrados deste gênero:</h3>
<ul>
    <% @genre.movies.each do |movie| %>
        <li>
            <%= link_to movie.title, movie_path(movie.id) %>
        </li>
    <% end %>
</ul>