<h2>Filmes cadastrados</h2>

<% if @released_movies.length >= 1 %>
    <h3>
        Filmes já lançados
    </h3>
    <ul>
        <% @released_movies.each do |m| %>
            <li><%= link_to  m.title, movie_path(m.id) %> - <%= m.year %></li>
        <% end %>
    </ul>
<% end %>

<% if @to_be_released_movies.length >= 1 %>
    <h3>
        Filmes a serem lançados
    </h3>
    <ul>
        <% @to_be_released_movies.each do |m| %>
            <li><%= link_to  m.title, movie_path(m.id) %> - <%= m.year %></li>
        <% end %>
    </ul>
<% end %>