<p>-------------------------------------------------------</p>
<h2>Página Inicial</h2>

<h3> Conteúdos disponíveis<h3>
<ul>
    <li><%= link_to 'Filmes', movies_path %></li>
    <li><%= link_to 'Gêneros', genres_path %></li>
    <li><%= link_to 'Diretores', movie_directors_path %></li>
</ul>